.footer {
  background-color: var(--white-color);

  &__container {
    row-gap: 2rem;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      justify-items: center;
    }
  }

  &__title {
    font-size: var(--h2-font-size);
    color: var(--green-color);
    margin-bottom: var(--mb-2);
  }

  &__data {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 1rem 0;
      justify-content: space-between;
    }
  }

  &__button {
    padding: 0;
    background: rgb(0 86 89 / 82%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    width: 11rem;
    height: 3.4375rem;
    font-size: 1.5rem;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: #ffcc1d;
      font-size: 1.5rem;
    }

    &:hover {
      background: rgba(0, 86, 89, 1);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
    }
  }

  &__copyright {
    margin: auto;
    text-align: center;
    background-color: var(--green-color);
  }
}
